* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms;
}

.full-body {
  background-color: #020617;
  background-image: radial-gradient(blue-50, #333 50%);
  height: 100vh;
}
