* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: #000;
}

/* Section for the nice bg  */
.full-body-bg {
  background-image: url("https://i.giphy.com/1oF1KAEYvmXBMo6uTS.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  filter: blur(4px) brightness(0.2);
  z-index: -10;
  overflow: hidden;
}

.elements-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  background-color: black;
  position: absolute;
}
